<input [(ngModel)]="addItemInput" type="text" />
<button
  class="btn"
  [ngClass]="{
    'btn-primary': addItemInput !== '',
    'btn-default': addItemInput === ''
  }"
  (click)="onAddToCart()"
>
  Add to Cart
</button>
<p *ngIf="addItemInput === ''">Please enter a value!</p>
<hr />

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let item of items; let i = index"
    [ngStyle]="{ backgroundColor: i % 2 === 0 ? 'IndianRed' : 'DodgerBlue' }"
  >
    {{ item }}
  </li>
</ul>
